.pulsing-step svg {
  animation: pulse 1.5s infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(19, 57, 182, 0.4);
  }

  70% {
    box-shadow: 0 0 0 100px rgba(9, 24, 82, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(25, 6, 84, 0);
  }
}
